<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collpase">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <ul class="dropdown-menu">
            <li><a href="#">Save data</a></li>
            <li><a href="#">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <ul class="dropdown-menu">
          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recipe book</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping list</a>
        </li>
        <li class="dropdown" appDropdown>
          <a
            style="cursor: pointer"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">Save data</a></li>
            <li><a style="cursor: pointer">fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /container -->
</nav>
